@import url("https://fonts.googleapis.com/css2?family=Righteous&display=swap");
html, body {
  height: 100%;
}

* {
  padding: 0;
  margin: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

.App {
  font-family: 'Righteous', cursive;
  width: 100%;
  height: 100vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-align: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-image: url("../images/Pattern.png");
  background-position: center;
  background-size: cover;
}

h1 {
  margin-bottom: 4rem;
  margin-top: 4rem;
  font-size: 4rem;
}

.gamespace {
  width: 100%;
  max-width: 50rem;
  border-radius: 5px;
  position: relative;
  padding: 1rem;
  -webkit-box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.226);
          box-shadow: inset 2px 2px 6px rgba(0, 0, 0, 0.226);
  background-color: #f7f7d7;
}

.gamespace .grid {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 50%;
}

.gamespace .grid .card {
  font-size: 0.75rem;
  padding: 2em;
  margin: 0.75em;
  -webkit-transition: 1s;
  transition: 1s;
  border-radius: 5%;
  background-color: #ffea76;
  -webkit-box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
          box-shadow: 2px 2px 5px rgba(0, 0, 0, 0.39);
  text-align: center;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.gamespace .grid .card p {
  height: 61px;
  width: 41px;
}

.success {
  background-color: #052e05 !important;
}

.pointerOff {
  pointer-events: none;
}

.active {
  -webkit-animation: flip 200ms forwards;
          animation: flip 200ms forwards;
}

@-webkit-keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@keyframes flip {
  0% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
  50% {
    -webkit-transform: rotateY(90deg);
            transform: rotateY(90deg);
  }
  100% {
    -webkit-transform: rotateY(0deg);
            transform: rotateY(0deg);
  }
}

@-webkit-keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

@keyframes fadeIn {
  0% {
    opacity: 0%;
  }
  100% {
    opacity: 100%;
  }
}

.overlay {
  -webkit-animation: fadeIn 500ms forwards;
          animation: fadeIn 500ms forwards;
  position: absolute;
  top: 0px;
  left: 0px;
  bottom: 0px;
  right: 0px;
  -webkit-backdrop-filter: blur(10px);
          backdrop-filter: blur(10px);
}

.overlay .menu {
  position: absolute;
  background-color: rgba(31, 31, 5, 0.9);
  color: white;
  top: 20%;
  left: 20%;
  right: 20%;
  bottom: 20%;
  padding: 1rem;
  border-radius: 5%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.overlay .menu h2 {
  font-size: 2.5rem;
}

.overlay .menu button {
  padding: 1rem;
  border-radius: 5px;
  border: 1px solid black;
  font-family: 'Righteous', cursive;
  margin-top: 2rem;
}

@media (min-width: 700px) {
  .card {
    font-size: 1.25rem !important;
  }
}

@media (min-width: 1200px) {
  .card {
    font-size: 1.5rem !important;
  }
}
/*# sourceMappingURL=index.css.map */